body {
    position: relative;
    background-color: #eeeeee;
}

.page-container {
    margin: 0 auto;
    /* max-width: 800px; */
}

.white-block {
    background-color: #fff;
    /* border: 1px solid rgb(201, 201, 201);  */
    box-shadow: 0 2px 2px 1px rgb(201, 201, 201); 
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
}

.white-block, .waching-area, .comments-container {
    flex-flow: column nowrap;
}

.youtube-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}

.search-area {
    flex-basis: 50%;
}

.search-area input, .search-area button {
    margin: 0;
    padding: 5px;
    border: 1px solid #ccc;
}

.search-area input {
    width: 70%;
    border-radius: 0;
    box-shadow: inset 0 1px 2px 0 #ccc;
}

.search-area button {
    width: 10%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: none;
}

.modal-header {
    color: #fff;
    background-color: #167ac6;
}
.modal-header, .modal-body {
    padding: 0 10px;
    border: 2px solid #167ac6;
}
.modal-body {
    display: flex;
    justify-content: space-between;
}
.language-modal {
    padding: 0;
}
.language-modal a {
    color: #167ac6;
    text-decoration: none;
}

.video-container {
    width: 100%;
}

.video-container, .white-block, .waching-area, .comments-container {
    display: flex;
}

.waching-area {
    flex: 1 1 60%;
}

.actual-video {
    display: flex;
    padding: 0;
    height: 350px;
}

.actual-video iframe {
    width: 100%;
    height: 100%;
}

#main-video {
    max-width: 100%;
    flex: 1 1 100%;
}

.rec-videos {
    flex: 1 1 40%;
    color: #333333;
}

.next-videos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.next-videos div:first-child p {
    font-weight: bold;
}
.next-videos div:last-child p {
    font-size: 0.8rem;
}

.red-desc h3 {
    font-size: 1rem;
    margin: 0;
    line-height: 0.75rem;
}

.desc {
    color: #767676;
    font-size: 0.75rem;
    line-height: 0.2rem;
    margin: 0;
}

.rec-vid {
    display: flex;
    box-sizing: border-box;
    padding: 5px;
}

.rec-vid:first-child {
    border-bottom: 1px solid #eee;
}

.rec-vid .thumbnail {
    flex: 1 1 50%;
    margin: 8px;
}

.thumbnail img {
    width:100%;
}

.red-desc {
    width: 50%;
}

#lang-close:checked{
    border: 2px solid green;
    display: none;
}

.video-title, .video-channel, .video-links {
    display: flex;
}

.video-title {
    flex-direction: column;
}

.vid-subs {
    color: #666;
}

.video-views {
    color: #666;
}
 
.video-links a {
    text-decoration: none;
    color: #808080;
}

.video-desc h5 {
    color: #333;
    font-size: 1.06rem;
    line-height: 0;
}

.video-desc p {
    margin: 0;
}

button:hover {
    cursor: pointer;
}
footer li {
    display: inline-block;
}
footer ul {
    list-style-type: none;
    margin: 0;
}
/* MOBILE */
@media only screen and (max-width: 768px) {

}
